.button {
    padding: 1rem 2.5rem;
    border: none;

    background-color: var(--accent-color);
    color: var(--secondary-color);

    line-height: 1.9rem;
    letter-spacing: 0.1rem;
}
.button:hover,
.button:active,
.button:focus {
    background-color: #263d5a;
}