.content-wrapper {
  align-items: center;
}
.page-image-wrapper {
    margin-right: auto;

    text-align: center;
}
.main-heading {
    font-size: 3rem;
    text-align: center;
}
.text-description-main {
    margin-top: 2em;
    margin-bottom: 2em;

    color: #727272;

    line-height: 1,64;
}

@media screen and (min-width: 576px){
    .main-heading{
      text-align: left;
    }
  }
@media screen and (min-width: 768px){
    .content-wrapper {
        padding-top: 15rem;
        padding-bottom: 10rem;
    }
  }
  
  @media screen and (min-width: 980px){
    .page-image {
      width: initial;
    }
    .content-wrapper {
        padding-top: 16rem;
        padding-bottom: 9rem;
    }
  }