.design {
  background-color: var(--silver-bg-color);
  padding-bottom: 70px;
}

.design-inner {
  /* align-items: center; */
}

.design-box {
  margin-bottom: 25px;
}

.design-img {
  display: block;

  margin: 0 auto;
}

.design-title {
  margin-bottom: 10px;

  font-size: 2.4rem;
  line-height: 1.2em;
}

.design-text {
  margin-bottom: 20px;

  color: var(--dark-gray-color);

  line-height: 1.6em;
}

.design-btn {
  display: block;

  padding: 12px 25px;
  border: none;

  background-color: var(--dark-blue-bg-color);
  color: #fff;

  text-transform: uppercase;
  line-height: 1.2em;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.design-title:first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .design-box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .design {
    padding-bottom: 100px;
  }
  .design-title {
    margin-bottom: 20px;

    font-size: 2.8rem;
  }

  .design-text {
    margin-bottom: 30px;

    color: var(--dark-gray-color);

    line-height: 1.6em;
  }

  .design-btn {
    padding: 20px 40px;
  }
}
