.gallery {
  padding-bottom: 30px;

  background-color: #F9F9F9;
}

.gallery-box {
  position: relative;
}

.box-bg {
  opacity: 0;
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  transition: opacity 0.5s linear;

  background-image: url(./../images/eye.svg),
    linear-gradient(
      90deg,
      rgba(52, 84, 122, 0.8029805672268908) 100%,
      rgba(52, 84, 122, 0.8) 100%
    );
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery-box:hover .box-bg {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 70px;
  }
}
