.navigation{
  background-color: var(--silver-color);
}
.flex-justify{
  justify-content: space-between;
  align-items: center;
}
.logo{
  flex-grow: 0.5;
  margin: auto;
  transform: translateY(-0.5rem);

  color: var(--accent-color);
  text-align: center;
  text-transform: uppercase;

  font-size: 3rem;
  font-family: 'Revalia', cursive;  
}
.nav-list{
  flex-grow: 0.5;
  margin: auto;
  text-align: right;
  overflow-x: auto;
  white-space: nowrap;
}
.nav-list::-webkit-scrollbar{
  display: none;
}
.list-item{
  display: inline-block;
}
.nav-link{
  display: inline-block;
  padding: 0.8rem;
  text-transform: uppercase;
  
}




@media screen and (min-width: 768px){
  .logo{
    text-align: left;
  }
  .m-none{
    margin: 0;
  }
}