.main {
  background-color: var(--silver-color);
  padding: calc(var(--size-space) * 7);
}
.main-heading {
  /* margin-bottom: var(--size-space); */
  font-weight: 500;
  font-size: 3rem;
  line-height: 5rem;
  color: #000000;
}
.btn {
  padding: 25px 40px;
  background-color: var(--accent-color);
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
