.my-skills {
  padding: calc(var(--size-space) * 4);
  background-color: #e5e5e5;
}
.skill-item {
  padding: var(--size-space) 0;
  
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.skill-item-line{
  height: 5px;
  margin-top: var(--size-space);
  background: rgb(52, 84, 122);
  background: linear-gradient(
    90deg,
    rgba(52, 84, 122, 1) 0%,
    rgba(52, 84, 122, 1) 70%,
    rgba(196, 196, 196, 1) 70%
  );
  
}

