.sponsors {
  padding-bottom: 20px;
}

.sponsors-link {
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .sponsors-link {
    margin: 0 auto 15px;
  }
}

@media screen and (min-width: 768px) {
  .sponsors {
    padding-bottom: 50px;
  }

  .sponsors-link {
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 992px) {
  .sponsors {
    padding-bottom: 80px;
  }
}
