*,
*::after,
*::before{
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit
}


:root{
  --dark-blue-bg-color: #34547A;
  --silver-bg-color: #EEEFF1;
  --dark-gray-color: #727272;

  color: #000;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.row-overflow{
  --row-size: 5;
  display: -webkit-box;
  -webkit-line-clamp:var(--row-size);
  -webkit-box-orient: vertical;
  max-height: calc(1.5rem*var(--row-size));
  line-height: 1.5;
  overflow: hidden;
}

@media screen and (min-width: 980px){
  :root{
    font-size: 16px;
  }
}