:root{
  --accent-color: #34547A;
  --silver-color: #EEEFF1;
  --secondary-color: #FFFFFF;
  --text-color: #727272;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  width: 100%;
}

.row-overflow{
  --row-size: 5;
  display: -webkit-box;
  -webkit-line-clamp:var(--row-size);
  -webkit-box-orient: vertical;
  max-height: calc(1.5rem*var(--row-size));
  line-height: 1.5;
  overflow: hidden;
}

@media screen and (min-width: 768px){
  :root{
    font-size: 15px;
  }
}

@media screen and (min-width: 980px){
  :root{
    font-size: 16px;
  }
}