.sub-box {
  padding: 30px 0 25px;
}

.sub-box-text {
  color: var(--dark-gray-color);

  line-height: 1.6em;
}

@media screen and (min-width: 576px) {
  .sub-box-inner {
    text-align: center;
  }
  .sub-box-title,
  .sub-box-text {
    margin: 0 auto;
  }

  .sub-box-title{
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .sub-box {
    padding: 40px 0 40px;
  }
}

@media screen and (min-width: 992px) {
  .sub-box {
    padding: 70px 0 70px;
  }
}
